@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #b51408;
}

main{
	width: 940px;
	height: 740px;
	background-color: #000;
	margin: auto;
}

header{
	width: 940px;
	height: 70px;
	background-color: #0c4510;
}

article{
	width: 940px;
	height: 640px;
	background-color: black;
}

footer{
	width: 940px;
	height: 40px;
	background-color: #0c4510;
	vertical-align: auto;
}

.logothor{
	padding-left: 32px;
}

.menu{
	float: right;
}
	a{
		text-decoration: none;
		color: inherit;
		font-size: 14px;
		text-align: right;
	}

	li{
		display:inline-block;
		width:80px;
		padding:6px 15px;
		background-color:#000;
		border:2px solid #fcef09;
		text-align:center;
		color:#fcef09;
		float: right;
		margin-right: 25px;
		margin-top: 18px;
	}

	li:hover{
		background-color:#fcef09;
		color:#000;
		border:2px solid #fcef09;
	}

.logo{
	padding-left: 32px;
}

.nombre{
	float: right;
	margin-right: 32px;
}
	h2{
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			color: #fcef09
		}

#texto{
	height: 640px;
	width: 536px;
	background-color: black;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	overflow: scroll;
}

p{
	color: #fcef09;
	font-size: 24px;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #fcef09
  }





/* Small (mobiles, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
 body{ background-color: #b51408;} 
	 main{
		width: 576px;
		height: 820px;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		width: 576px;
		height: 140px;
		background-color: #0c4510;
	}

	article{
		width: 576px;
		height: 640px;
		background-image: url(../img/sinopsissmall.jpg);
	}

	footer{
	width: 576px;
	height: 40px;
	background-color: #0c4510;
	vertical-align: auto;
	}

	.logothor{
		margin-left: 177px;
	}

	.menu{
		margin-right: auto;
		margin-left: auto;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 18px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:130px;
			padding:6px 12px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			margin-top: 10px;
			margin-right: 26px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	.logo{
	padding-left: 20px;
	}

	.nombre{
		float: right;
		margin-right: 20px;
		margin-top: 11px;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: #fcef09
	}

	#texto{
		height: 640px;
		width: 330px;
		padding-right: 15px;
		padding-left: 15px;
		overflow: scroll;
		margin-left: auto;
		margin-right: auto;
		background-color: none;
	}

	p{
		color: #fcef09;
		font-size: 20px;
	}


	h1{
	    font-family: 'Montserrat', sans-serif;
	    font-size: 20px;
	    color: #fcef09
	}

	.portada{
		display: none;
	}
}




/*Medium  (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){ 
 body{ background-color: #b51408;}
 	main{
		width: 768px;
		height: 740px;
		background-color: none;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		width: 768px;
		height: 70px;
		background-color: #0c4510;
	}

	article{
		width: 768px;
		height: 640px;
		background-color: black;
	}

	footer{
		width: 768px;
		height: 40px;
		background-color: #0c4510;
		bottom: auto;
	}

	.logothor{
	padding-left: 32px;
	}

	.menu{
		float: right;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 16px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:100px;
			padding:6px 15px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			float: right;
			margin-right: 25px;
			margin-top: 18px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	.logo{
		padding-left: 28px;
	}

	.nombre{
		float: right;
		margin-right: 28px;
		 margin-top: 11px;
	}
		h2{
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				color: #fcef09
			}

	#texto{
		height: 640px;
		width: 364px;
		background-color: black;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		overflow: scroll;
	}

	p{
		color: #fcef09;
		font-size: 20px;
	}


	h1{
	    font-family: 'Montserrat', sans-serif;
	    font-size: 20px;
	    color: #fcef09
	  }
}





/*Large  (escritorio, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){ 
 body{ background-color: #b51408;}
 	main{
		width: 992px;
		height: 740px;
		background-color: none;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		width: 992px;
		height: 70px;
		background-color: #0c4510;
	}

	article{
		width: 992px;
		height: 640px;
		background-color: black;
	}

	footer{
		width: 992px;
		height: 40px;
		background-color: #0c4510;
		bottom: auto;
	}

	.logothor{
	padding-left: 32px;
	}

	.menu{
		float: right;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 14px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:80px;
			padding:6px 15px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			float: right;
			margin-right: 25px;
			margin-top: 18px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	.logo{
		padding-left: 32px;
	}

	.nombre{
		float: right;
		margin-right: 32px;
	}
		h2{
				font-family: 'Montserrat', sans-serif;
				font-size: 20px;
				color: #fcef09
			}

	#texto{
		height: 640px;
		width: 588px;
		background-color: black;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		overflow: scroll;
	}

	p{
		color: #fcef09;
		font-size: 24px;
	}


	h1{
	    font-family: 'Montserrat', sans-serif;
	    font-size: 28px;
	    color: #fcef09
	  }
}




/* X-Large  (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px){ 
 body{ background-color: #b51408;}
 	main{
		width: 1200px;
		height: 740px;
		background-color: none;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		width: 1200px;
		height: 70px;
		background-color: #0c4510;
	}

	article{
		width: 1200px;
		height: 640px;
		background-color: black;
	}

	footer{
		width: 1200px;
		height: 40px;
		background-color: #0c4510;
		bottom: auto;
	}

	.logothor{
	padding-left: 32px;
	}

	.menu{
		float: right;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 14px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:80px;
			padding:6px 15px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			float: right;
			margin-right: 25px;
			margin-top: 18px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	.logo{
		padding-left: 32px;
	}

	.nombre{
		float: right;
		margin-right: 32px;
	}
		h2{
				font-family: 'Montserrat', sans-serif;
				font-size: 20px;
				color: #fcef09
			}

	#texto{
		height: 640px;
		width: 796px;
		background-color: black;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		overflow: scroll;
	}

	p{
		color: #fcef09;
		font-size: 24px;
	}


	h1{
	    font-family: 'Montserrat', sans-serif;
	    font-size: 28px;
	    color: #fcef09
	  }
}