@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #b51408;
}

main{
	width: 940px;
	height: 670px;
	background-color: #000;
	margin: auto;
}

header{
	width: 940px;
	height: 70px;
	background-color: #0c4510;
}

article{
	width: 940px;
	height: 560px;
	background-image: url("../img/thor.jpg");
}

footer{
	width: 940px;
	height: 40px;
	background-color: #0c4510;
	vertical-align: auto;
}

.logothor{
	padding-left: 32px;
}

.menu{
	float: right;
}
	a{
		text-decoration: none;
		color: inherit;
		font-size: 14px;
		text-align: right;
	}

	li{
		display:inline-block;
		width:80px;
		padding:6px 15px;
		background-color:#000;
		border:2px solid #fcef09;
		text-align:center;
		color:#fcef09;
		float: right;
		margin-right: 25px;
		margin-top: 18px;
	}

	li:hover{
		background-color:#fcef09;
		color:#000;
		border:2px solid #fcef09;
	}

.titulo{
	margin-left: 32px;
}
	h1{
		font-family: 'Days One', sans-serif;
		font-size: 70px;
		color: #fcef09
	}

.texto{
	margin-left: 32px;
	width: 490px;
}
	p{
		color: #fcef09;
		font-size: 20px;
	}

.disney{
	padding-left: 32px;
}

.logo{
	padding-left: 32px;
}

.nombre{
	float: right;
	margin-right: 32px;
	margin-top: auto;
}
	h2{
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			color: #fcef09
		}




/* Small (mobiles, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
 body{ background-color: #b51408;} 
	 main{
		width: 576px;
		height: 820px;
		background-color: none;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		width: 576px;
		height: 140px;
		background-color: #0c4510;
	}

	article{
		width: 576px;
		height: 640px;
		background-image: url(../img/thorsmall.jpg);
	}

	.menu{
		margin-right: auto;
		margin-left: auto;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 18px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:130px;
			padding:6px 12px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			margin-top: 10px;
			margin-right: 26px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	footer{
		width: 576px;
		height: 40px;
		background-color: #0c4510;
		bottom: auto;
	}

	.logothor{
	margin-left: 177px;
	}

	.titulo{
	margin-left: 28px;
	margin-top: 35px;
	}
		h1{
			font-family: 'Days One', sans-serif;
			font-size: 50px;
			color: #fcef09
		}

	.texto{
		margin-left: 28px;
		width: 300px;
		margin-top: 30px;
	}
		p{
			color: #fcef09;
			font-size: 18px;
		}

	.disney{
		padding-left: 28px;
	}

	.logo{
		padding-left: 20px;
	}

	.nombre{
		float: right;
		margin-right: 20px;
		margin-top: 11px;
	}
		h2{
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				color: #fcef09
			}
}



/*Medium  (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){ 
 body{ background-color: #b51408;}
 	main{
		width: 768px;
		height: 740px;
		background-color: none;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		width: 768px;
		height: 70px;
		background-color: #0c4510;
	}

	article{
		width: 768px;
		height: 640px;
		background-image: url(../img/thormedium.jpg);
	}

	footer{
		width: 768px;
		height: 40px;
		background-color: #0c4510;
		bottom: auto;
	}

	.logothor{
	padding-left: 32px;
	}

	.menu{
		float: right;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 16px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:100px;
			padding:6px 15px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			float: right;
			margin-right: 25px;
			margin-top: 18px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	.titulo{
		margin-left: 32px;
		margin-top: 15px;
	}
		h1{
			font-family: 'Days One', sans-serif;
			font-size: 70px;
			color: #fcef09
		}

	.texto{
		margin-left: 32px;
		width: 400px;
		margin-top: 18px;
	}
		p{
			color: #fcef09;
			font-size: 20px;
		}

	.disney{
		padding-left: 32px;
	}

	.logo{
		padding-left: 28px;
	}

	.nombre{
		float: right;
		margin-right: 28px;
		margin-top: 11px;

	}
		h2{
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				color: #fcef09
			}
}


/*Large  (escritorio, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
 body{ background-color: #b51408;}
	  main{
		width: 992px;
		height: 740px;
		background-color: none;
		margin-left: auto;
		margin-right: auto;
	}

	header{
		width: 992px;
		height: 70px;
		background-color: #0c4510;
	}

	article{
		width: 992px;
		height: 640px;
		background-image: url(../img/thorlarge.jpg);
	}

	footer{
		width: 992px;
		height: 40px;
		background-color: #0c4510;
		bottom: auto;
	}

	.logothor{
	padding-left: 32px;
	}

	.menu{
		float: right;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 14px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:80px;
			padding:6px 15px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			float: right;
			margin-right: 25px;
			margin-top: 18px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	.titulo{
		margin-left: 32px;
		margin-top: 15px;
	}
		h1{
			font-family: 'Days One', sans-serif;
			font-size: 70px;
			color: #fcef09
		}

	.texto{
		margin-left: 32px;
		width: 450px;
		margin-top: 18px;
	}
		p{
			color: #fcef09;
			font-size: 22px;
		}

	.disney{
		padding-left: 32px;
	}

	.logo{
		padding-left: 32px;
	}

	.nombre{
		float: right;
		margin-right: 32px;
		margin-top: 11px;
	}
		h2{
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				color: #fcef09
			}
}



/* X-Large  (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px) {
 body{ background-color: #b51408;}
	  main{
		width: 1200px;
		height: 740px;
		background-color: none;
		margin-left: auto;
		margin-right: auto;
	}

		header{
		width: 1200px;
		height: 70px;
		background-color: #0c4510;
	}

	article{
		width: 1200px;
		height: 640px;
		background-image: url(../img/thorxl.jpg);
	}

	footer{
		width: 1200px;
		height: 40px;
		background-color: #0c4510;
		bottom: auto;
	}

	.logothor{
	padding-left: 32px;
	}

	.menu{
		float: right;
	}
		a{
			text-decoration: none;
			color: inherit;
			font-size: 14px;
			text-align: right;
		}

		li{
			display:inline-block;
			width:80px;
			padding:6px 15px;
			background-color:#000;
			border:2px solid #fcef09;
			text-align:center;
			color:#fcef09;
			float: right;
			margin-right: 25px;
			margin-top: 18px;
		}

		li:hover{
			background-color:#fcef09;
			color:#000;
			border:2px solid #fcef09;
		}

	.titulo{
		margin-left: 32px;
		margin-top: 15px;
	}
		h1{
			font-family: 'Days One', sans-serif;
			font-size: 80px;
			color: #fcef09
		}

	.texto{
		margin-left: 32px;
		width: 610px;
		margin-top: 18px;
	}
		p{
			color: #fcef09;
			font-size: 24px;
		}

	.disney{
		padding-left: 32px;
	}

	.logo{
		padding-left: 32px;
	}

	.nombre{
		float: right;
		margin-right: 32px;
		margin-top: 11px;
	}
		h2{
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				color: #fcef09
			}
}